## Beginner exercises

**Ex 1**: In the cell below, write a short text that demonstrates that you can
* Create a section with a heading
* Write words in bold and italics
* Establish a [hyperlink](https://en.wikipedia.org/wiki/Hyperlink)

## headind

**bold letters**

[this is a hyperlink] //www.bing.com

**Ex 2** Calculate the remainder of the division of 18 by 7.

In [15]:
remainder=18%7
print(remainder)

4

**Ex 3** Calcuate 3 to the power of 4; i.e. $3^4$

In [2]:
3**4

81

**Ex 4** Calculate the square root of 49

In [12]:
x=49
sq_root=x**(1/2)
print(sq_root)

7.0

**Ex 5** Convert the following string to a float and round it to the nearest 3 digits after the decimal

In [11]:
pi = "3.14159265"
float_pi=float(pi)
round(float_pi,3)

3.142

**Ex 6** **Convert** the variable number=4.9 to an integer

In [12]:
int (4.9)

4

**Ex 7** Now round number=4.9 to the **nearest** integer. What is the difference between the converted number of the previous exercise and this exercise?

In [13]:
round(4.9)

5

**Ex 8** Calculate the length of the following list (i.e. how many names are in the list) and print each of its values separated by a newline. The output of the print statement(s) should look like this: \
\
Miriam \
Tim \
Jing \
...

In [16]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
len(names)
for i in names:
    print(i)

Miriam
Tim
Jing
Carlos
Ruben
Ashley

**Ex 9** Add a list with the following new names to the previous list \
new_names = ["Pablo", "Lise"]

In [7]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
new_names=["Pablo","Lise"]
new_namelist=names+new_names
print(new_namelist)

['Miriam', 'Tim', 'Jing', 'Carlos', 'Ruben', 'Ashley', 'Pablo', 'Lise']

**Ex 10** Print the second and second to last name of the newly created list. The output should be Tim and Pablo

In [8]:
print(new_namelist[1])
print(new_namelist[-2])

Tim
Pablo

**Ex 11** Calculate the sum and the average of the value in the following list

In [29]:
age = [11, 22, 33, 44, 22, 55]
age_total=0
for i in age:
    age_total+=i
print(age_total)
everage=age_total/len(age)
print(everage)

187
31.166666666666668

**Ex 12** Sort the age list in an ascending (increasing) order and get the count of the number 22 within the list (i.e; calculate how often the number 22 appears in the age list

In [20]:
age=[11,22,33,44,22,55]
test  = []
sorted_list=[]

index=0
length= len(age)
j=1
while j <length:
    while j<length:
        if age[index]<= age[j]:
            j+=1
        else:
            #swap
            temp=age[index]
            age[index]=age[j]
            age[j]=temp
            j+=1
    sorted_list.append(age[index]) 
    del age[index]
    j=1
    length= len(age)

sorted_list.append(age[index])    
print(sorted_list)

[11, 22, 22, 33, 44, 55]

**Ex 13** Write a function to calculate the sum of three given numbers, if the values are equal then return three times of their sum.

In [1]:
raw_x, raw_y,raw_z = input("Enter three values: ").split()
x=int(raw_x)
y=int(raw_y)
z=int(raw_z)
result= (x+y+z)**3
print(result)

Enter three values: 2 2 2
216

**Ex 14** Write a function to check if a value is within the following list. The output should look like this:\
Miriam was found in the list\
Peter was not found in the list

In [2]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley"]
name=input("enter the name:")
found = 0
for x in names:
    if name==x: 
        print(name,"was found in the list")
        found =1
        break
if(found==0):
    print(name,"was not found in the list")

enter the name:Tim
Tim was found in the list

**Ex 15** Write a function that will accept the base and height of a triangle and compute the area. The area of a triangle is calculate as Area= 0.5 * height * base

In [1]:
raw_base, raw_height = input("enter the base and height to calculate the area:").split()
base=int(raw_base)
height=int(raw_height)
area=0.5*base*height
print(area)

enter the base and height to calculate the area:2 4
4.0

**Ex16** Print **only** the strings within the following list. Use the isinstance function to compare the type of a variable against its expected type

In [3]:
students = ["Miriam", 22, "Tim", 25, "Jing", 28, "Carlos"]
for str_student in students:
    if (isinstance(str_student,str)==True):
        print(str_student)

Miriam
Tim
Jing
Carlos

**Ex 17** For the following two lists, print the student name followed by their age. HINT: use the zip function

In [12]:
names = ["Miriam", "Tim", "Jing", "Carlos", "Ruben", "Ashley","Last"]
ages =  [25, 22, 24, 33, 22, 21]
country =["pakistan","India","Germany","Denmark"]

zipped=zip(names,ages,country)
#print (tuple(zipped))
list(zipped)

[('Miriam', 25, 'pakistan'),
 ('Tim', 22, 'India'),
 ('Jing', 24, 'Germany'),
 ('Carlos', 33, 'Denmark')]

**Ex 18** Create a dictionary which keys are the names of the students and the corresponding values are their age. The dictionary should look like this \
{'Miriam': 25, 'Tim': 22, 'Jing': 24, 'Carlos': 33, 'Ruben': 22, 'Ashley': 21}

In [5]:
student={

    "Mariam":25,
    "Tim":22,
    "Jing":34,
    "Carlos":33,
    "Ruben":22,
    "Ashelay":21
   
}
print(student)

{'Mariam': 25, 'Tim': 22, 'Jing': 34, 'Carlos': 33, 'Ruben': 22, 'Ashelay': 21}

**Ex 19** Create a nested dictionary to assign to each student their age and grade. The output should look like this \
{'Miriam': {'age': 25, 'grade': 12},
 'Tim': {'age': 22, 'grade': 12},
 'Jing': {'age': 24, 'grade': 12},
 'Carlos': {'age': 33, 'grade': 10},
 'Ruben': {'age': 22, 'grade': 7},
 'Ashley': {'age': 21, 'grade': 10}}

In [9]:
grades = [12, 12, 12, 10, 7, 10]
student={

    "Miriam":{"age":25,"grade":12},
    "Tim":{"age":22,"grade":12},
    "Jing":{"age":34,"grade":12},
    "Carlos":{"age":33,"grade":10},
    "Ruben":{"age":22,"grade":7},
    "Ashelay":{"age":21,"grade":10}
   
}
print(student)

{'Miriam': {'age': 25, 'grade': 12}, 'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 34, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashelay': {'age': 21, 'grade': 10}}

**Ex 20** Miriam decided to drop out of the class. Remove her entry in the students dictionary.

In [10]:
student.pop("Miriam")
print(student)

{'Tim': {'age': 22, 'grade': 12}, 'Jing': {'age': 34, 'grade': 12}, 'Carlos': {'age': 33, 'grade': 10}, 'Ruben': {'age': 22, 'grade': 7}, 'Ashelay': {'age': 21, 'grade': 10}}

**Ex 21** First, generate a sequence of numbers from 1 to 20. Then print **only** the numbers for which the remainder is 0 when being divided by 6. E.g. 12 because 12/6 = 2. The output should be 6, 12 and 18

In [15]:
sequence=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in sequence:
    answer=i%6
    if answer==0:
        print(i)

6
12
18

**Ex 22** Generate  \
"The holidays will begin on: 25/11/1992"  \
from the following tuple

In [31]:
date = (25, 11, 1992)
print (str(date))
message ="The holidays will begin on:{0}".format(str(date))
print(message)

(25, 11, 1992)
The holidays will begin on:(25, 11, 1992)

**Ex 23** Write a function to find whether a given number is even or odd, print out an appropriate message.

In [1]:
raw_number=input()
number=int(raw_number)
remainder=number%2
if remainder==1:
    print(number,":is an odd number.")
else:
    print(number,":is an even number.")

5
5 :is an odd number.

**Ex 24** Make a program ask for a name, and then write a greeting using that name.\
HINT: use the input function to get the user input (e.g. name=input("Write your username"))

\
The output should look similar to this:\
Please type your username Adrian\
Hello Adrian.

In [2]:
input_name=input("Write your username.")
print("Hello",input_name)

Write your username.aniza
Hello aniza

**Ex 25** Ask for two numbers and ask what operation to perform on them (+, - , *, /) and display the numbers and the result. Again, use the input function.\
The output should look like this

\
Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 1 1.5 +\
The result is: 2.5


Please type two numbers and a mathematical operator to perform on them. All 3 inputs must be separated by a whitespace 2 2 *\
The result is: 4.0

In [2]:
raw_num1,raw_num2=input("Please enter two numbers you want to calculate.").split()
num1=int(raw_num1)
num2=int(raw_num2)
#result=0
operator=input("please enter the oprter.")

if operator=="+":
    result=num1+num2
    print("Result is:",result)

elif operator=="-":
    result=num1-num2
    print("Result is:",result)
    
    
elif operator=="*":
    result=num1*num2
    print("Result is:",result)
    
else:
    result=num1/num2
    print("Result is:",result)

Please enter two numbers you want to calculate.6 2
please enter the oprter./
Result is: 3.0

**Ex 26** Write a function to calculate the factorial (n!) (e.g. 4! = 4 * 3 * 2 * 1. Perform input control. For example, the input must be a positive integer. Thus, if the input is negative, the function should return an error message. The same applies for inputs with type float or str.\

The output should look like:\
1 = factorial(0)\
1 = factorial(1)\
6 = factorial(3)\
24 = factorial(4)

In [1]:
input_num=int(input())
result=1
if input_num<0:
    print("ERROR:input value should be positive.")
for i in range(input_num):
    result=(i+1)*result

print("factorial of",input_num,"is",result)

5
factorial of 5 is 120

**Ex 27** Write a program (using functions!) that asks the user for a long string containing multiple words. Print back to the user the same string, except with the words in backwards order. For example, say I type the string:

  My name is Michele\
Then I would see the string:

  Michele is name My\
shown back to me.

In [8]:
input_list=input()

saperate_list=input_list.split()

saperate_list.reverse()

print(saperate_list)

my name is aniza
['aniza', 'is', 'name', 'my']

**Ex 28** Write a small function to check if a string is a Palindrome (https://en.wikipedia.org/wiki/Palindrome)

The output could look like this:

Tenet is a Palindrome\
China is not Palindrome

In [5]:
input_string=input("Enter a string:")
result=input_string[::-1]
if (result==input_string):jhyuji
    print(result,"is a palindrome.")
else:
    print(result,"is not a palindrome.")

Enter a string:bob
bob is a palindrome.